[submodule "backend"]
	path = backend
	url = https://github.com/radu781/FriendHub-backend
[submodule "tools"]
	path = tools
	url = https://github.com/radu781/FriendHub-tools
[submodule "frontend"]
	path = frontend
	url = https://github.com/radu781/FriendHub-frontend
[submodule "desktop"]
	path = desktop
	url = https://github.com/radu781/FriendHub-desktop
[submodule "live"]
	path = live
	url = https://github.com/radu781/FriendHub-live
