[submodule "FriendHub-backend"]
	path = backend
	url = https://github.com/radu781/FriendHub-backend
[submodule "FriendHub-tools"]
	path = tools
	url = https://github.com/radu781/FriendHub-tools
[submodule "FriendHub-frontend"]
	path = frontend
	url = https://github.com/radu781/FriendHub-frontend
[submodule "FriendHub-desktop"]
	path = desktop
	url = https://github.com/radu781/FriendHub-desktop
[submodule "FriendHub-live"]
	path = live
	url = https://github.com/radu781/FriendHub-live
